.chatroom-block {
    width: 30vw;
    min-width: 300px;
    height: fit-content;
    background-color: var(--color-green-light);
    display: flex;
    margin: 5px 0 5px 20px;
    padding: 10px 20px 10px 20px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.chatroom-block:hover {
    scale: 1.05;
    background-color: var(--color-light);
    transition: 0.3s;
}

.room-name {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-text-green);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.room-id {
    font-size: 1em;
    color: var(--color-text-green);
    font-weight: 500;
}