.ChatHome {
    width: 100%;
    height: 100vh;
}

.Nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #F0EFEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.Nav-bar-Logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #4B4F40;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.Nav-bar-Links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Nav-bar-Links a {
    text-decoration: none;
    font-size: 1em;
    color: #4B4F40;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.2s ease;
}

.Nav-bar-Links a:hover {
    color: #AF6B46;
    transform: scale(1.1);
}

.ChatHome-Content {
    height: calc(100vh - 60px);
    padding-top: 60px;
    background-color: #FFF3EB;
    /* background-color: white; */
}