.message-box {
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    max-width: 70%;
    white-space: pre-wrap;
    word-break: break-word;
}

.sent {
    align-self: flex-end;
}

.sent.message {
    background-color: var(--color-green);
    border-radius: 10px;
}

.received {
    align-self: flex-start;
}

.received.message {
    background-color: var(--color-light);
    border-radius: 10px;
}

.sender, .timestamp {
    font-size: 0.7em;
    margin-bottom: 5px;
    opacity: 0.7;
}